<form>

    <div class="row mt-5" style="width: 100%;">

        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6" >

            <div class=" p-4  ms-5 mt-3 text-center " style="background-color: rgb(216, 238, 116); border-radius: 10px; width: 50%;">
                <h2>Login</h2>
                <input [(ngModel)]="acno" id="u1" class="form-control mt-5  p-2 " name="Acno" type="text" [placeholder]="pdata">
                <input [(ngModel)]="psw" id="p1" class="form-control  p-2 mt-4 " name="Psw" type="password" [placeholder]="pass">
                <button (click)="login()" type="submit" class=" btn btn-light col-xs-4 col-lg-12 col xl-12 mt-4 w-25 ">Submit</button>
                <div class="  text-center p-3" style="text-decoration: none">
                    Dont have a account?
                    <a routerLink="register">Create Account</a>
                </div>

            </div>


        </div>

        <div class=" container-fluid col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 " >
            <img style="width: 60%;" src="https://i.postimg.cc/JhSqt128/best-choice-save-money-bank-deposit-promo-82574-4362.jpg" alt="">
        </div>
    </div>
</form>






