<div class="row " style="width: 100%; ">
   <div class="  " style="width: 45%; margin-left: 20px;">
        <div class="btn-group-vertical mt-5  col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-6" role="group" aria-label="Vertical button group">
            <button style="background-color: rgb(238, 241, 57);" type="button" class="btn p-4"><i class="fa-solid fa-user" style="color: #000000;"></i> View Profile</button>
            <button style="background-color: rgb(238, 241, 57);" type="button" class="btn p-4"><i class="fa-solid fa-file-invoice-dollar" style="color: #000000;"></i>  Accounts</button>
            <button style="background-color: rgb(238, 241, 57);" type="button" class="btn p-4"><i class="fa-solid fa-scale-balanced" style="color: #000000;"></i> Balence Enquiry</button>
            <button style="background-color: rgb(238, 241, 57);" type="button" class="btn p-4"><i class="fa-solid fa-sack-dollar" style="color: #000000;"></i> Money Transfer</button>
            <button style="background-color: rgb(238, 241, 57);" type="button" class="btn p-4"><i class="fa-solid fa-trash" style="color: #000000;"></i> Delete Account</button>
            <button style="background-color: rgb(238, 241, 57);" type="button" class="btn p-4">Logout</button>
        </div>
   </div>
 
        <div class=" col-sm-12 col-md-12 col-lg-12 col-xl-6 text-center  "  >
            <h2><span style="color: rgb(212, 215, 41);">Chatt</span>Online</h2>
            <p style="padding: 5%;">Online banking allows you to conduct financial transactions via the Internet. Online banking is also known as
                Internet banking or web banking. Online banking offers customers almost every service traditionally
                available through a local branch including deposits, transfers, and online bill payments.</p>
                <div class=" row container-fluid ">
                    <img style="width: 75%; margin-top:3%; margin-left: 20%;" src="https://i.postimg.cc/FHz9gr7L/Adobe-Stock-308096217-scaled.jpg" alt="">
                </div>
                 
        </div>
       

 </div>

<!-- balence check
     profile view
      money tranfer
    accout statement 
 delete account
 logout -->