<div class=" w-50 col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4" style="text-align: end;" >
    <div class=" " style="padding-left: 10px; text-align: left; margin-left: 120px;"><h3 class="mt-5">Welcome to <span style="color:rgb(220, 185, 70)">Chaat</span> Online</h3></div>
    <div class="mt-5    " style="padding: 10px;text-align: left; margin-left:120px;">
        <p class="">Online banking allows you to conduct financial transactions via the Internet. Online banking is also
            known as Internet banking or web banking. Online banking offers customers almost every service traditionally
            available through a local branch including deposits, transfers, and online bill payments.</p>

    </div>
    <div style="margin-left: -12%;">
        <img  style="width: 75%; " src="https://i.postimg.cc/FHg9XYTM/Adobe-Stock-308096217-scaled.jpg" alt="">
    </div>

</div>