<form>
    
    <div class="row mt-5" style="width: 100%;">
      
              <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-4 ">
                  
                    <div class=" w-75 p-4 ms-5 text-center " style="background-color: rgb(216, 238, 116); border-radius: 10px;">
                        <h2 >Register</h2>
                        <input [(ngModel)]="acno" id="a1" name="Acno" class="form-control mt-5 p-2 container w" type="text" placeholder="Enter accout Number">
                        <input [(ngModel)]="uname" id="u1" name="Uname" class="form-control mt-3 p-2 container w" type="text" placeholder="User Name">
                        <input [(ngModel)]="psw" id="p1" name="Pword" class="form-control mt-3 p-2 container w" type="password" placeholder="Enter password">
                        <input [(ngModel)]="cpsw" id="p1" name="cword" class="form-control mt-3 p-2 container w" type="password" placeholder="Confirm password">
                        <button (click)="register()" type="submit" class="btn btn-light p-2 mt-3">Register</button>
                    </div>
                   
              </div>
            
            <div class=" w-50 container-fluid col-12 col-sm-12 col-md-12 col-lg-6 col-xl-8 mt-5">
                <img style="width: 90%;" src="https://i.postimg.cc/653yBLkd/realtime-banking-FB.png" alt="">
            </div>
    
      
    
    
    </div>
</form>
    


